body
{
	font-size: 100%;
	font-weight: bold;
}
th
{
	font-size:120%;
	font-weight: bold;
	border: none
}
tr
{
	border: none
}
table
{
	border: 2px #39C5BB solid
}
down
{
	font-size: 120%
}
space
{
	font-size: 20%
}